@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  /*Regra de 3 (10*100%)/16=62,5% para transformar 16px em 10px 1rem=10px (acessibilidade)*/
}

body {
  --primary-color: #DDEDFB;
  --menu-color: #6C747A;
  --font-color: #1D4F7A;
  --blue-color: #42607A;
  background-color: var(--primary-color);
  color: var(--menu-color);
  font-family: 'Signika', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  width: 100vw;
  height: 100vh;
}

.rodape-ancora a {
  text-decoration: none;
  color: #0A3871;
}

.alura {
  width: auto;
  height: auto;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

div.alura{
  border-bottom:#6C747A solid 1px;
  width:95%;
  margin-inline: auto;
}

.main {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: auto;
  margin-top: 38px;
  width: 95%;
}

.header,
.header-sobre {
  max-width: 100%;
  height: 5rem;
  background-color: var(--blue-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.5rem;
}

.header a,
.menu,
.inicio,
.header-sobre a {
  text-decoration: none;
  list-style: none;
  color: var(--primary-color);
  font-size: 2rem;
  align-items: center;
  display: flex;
  margin-left: 8px;
}

.menu {
  margin-right: 10px;
}

.menu li {
  display: block;
  padding-inline-end: 6px;
  margin: 8px;

}

.header-sobre a {
  padding-inline-end: 6px;
  margin: 8px;
}

.btns{
  width: 34rem;
  padding-top: 20px;
  margin: auto;
}

.form {
  border: transparent solid 1px;
  max-width: 96rem;
  font-style: italic;
}

textarea {
  resize: none;
}

#mensagem {
  padding: 30px;
  width: 100%;
  height: 34rem;
  font-size: 25px;
  border-radius: 24px;
  border: none;
  background-color: white;
  box-shadow: 0 0 20px var(--menu-color);
}

.text-input {
  border-radius: 0.5em;
  border: 1px #D8DFE8;
  display: block;
  width: 90%;
  max-width: 98rem;
  height: 34rem;
  font-size: 2.5rem;
  font-family: inherit;
  background: transparent;
}

#mensagem:focus,
.text-input:focus {
  outline: 0;
}

.alerta {
  padding-left: 2rem;
  font-size: 1.6rem;
  margin-bottom: 15px;
}

#btn-cripto,
#btn-descripto {
  border: none;
  color: white;
  font-weight: bold;
  background-color: var(--font-color);
  padding: 1rem;
  margin-top: 10px;
  border-radius: 15px;
  width: 20rem;
  height: 50px;
  display: inline-block;
  font-size: 1.8rem;
  text-align: center;
  margin-inline: 0.5rem;
}

.btn,
.limpar {
  cursor: pointer;
}

#btn-cripto:hover,
#btn-descripto:hover {
  color: var(--blue-color);
  background-color: var(--primary-color);
  border: 1px solid var(--font-color);
}

#btn-copy,
#limpar {
  border: 0;
  color: var(--font-color);
  font-weight: bold;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 15px;
  width: 15rem;
  height: 50px;
  font-size: 1.6rem;
  border: 1px solid var(--font-color);
  margin-right: 1rem;
}

#btn-copy:hover,
#limpar:hover {
  color: var(--primary-color);
  background-color: var(--font-color);
}

.rodape-texto {
  color: #0A3871;
  text-align: center;
  height: 4rem;
  padding: 20px 0px;
}

.rodape-ancora {
  text-align: center;
  height: 4rem;
  padding: 10px 0px;
}



/*********************************
              SOBRE
**********************************/
.cards {
  display: flex;
  justify-content: center;
}

.card1,
.card2 {
  background-color: white;
  padding: 15px;
  margin-inline: 10px;
  font-size: 3rem;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.cards h2 {
  padding-bottom: 10px;
  text-shadow: 3px 3px 5px var(--primary-color);
  color: var(--menu-color);
  font-variant: small-caps;
}

footer p{
  font-size: 1.6rem;
}



/*********************************
            MEDIA QUERY
**********************************/

 @media(max-width:560px){
  .cards{
   flex-direction: column; 
    margin: 2rem;
  }
   
  .card1,
  .card2 {
    margin: 1rem;
}


  .return {
    margin-top: 45px;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    margin-top: 38px;
    width: 95%;
  }

  #btn-cripto,
  #btn-descripto {
    width: 100%!important;
    padding: 0px!important;
    margin: 5px 0px!important;
  }
}
